<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-top">
      <div class="footer-column">
        <h3>Hakkımızda</h3>
        <ul>
          <li><a href="#">Şirket Bilgileri</a></li>
          <li><a href="#">Kariyer</a></li>
          <li><a href="#">Basın</a></li>
          <li><a href="#">İletişim</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Müşteri Hizmetleri</h3>
        <ul>
          <li><a href="#">Yardım Merkezi</a></li>
          <li><a href="#">Sipariş Takibi</a></li>
          <li><a href="#">İade ve Değişim</a></li>
          <li><a href="#">Sıkça Sorulan Sorular</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Kategoriler</h3>
        <ul>
          <li><a href="#">Elektronik</a></li>
          <li><a href="#">Giyim</a></li>
          <li><a href="#">Ev & Yaşam</a></li>
          <li><a href="#">Spor</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Bizi Takip Edin</h3>
        <div class="social-links">
          <a href="#" class="social-link"><i class="fa fa-facebook"></i></a>
          <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
          <a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
          <a href="#" class="social-link"><i class="fa fa-youtube"></i></a>
        </div>
        <div class="newsletter">
          <h4>Bültenimize Abone Olun</h4>
          <div class="newsletter-form">
            <input type="email" placeholder="E-posta adresiniz">
            <button>Abone Ol</button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="copyright">
        &copy; 2023 OrangeMart. Tüm hakları saklıdır.
      </div>
      <div class="payment-methods">
        <img src="assets/images/payment-methods.png" alt="Ödeme Yöntemleri">
      </div>
    </div>
  </div>
</footer>
